@use '@/shared/styles/variables' as *;

.postItem {
  position: relative;
  width: 234px;
  color: $light-100;
}

.userInfoWrapper {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userName {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: $light-900;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-overflow: ellipsis;
}
.showMoreButton {
  margin-left: 5px;
  padding: 0;
  border: none;

  &:focus,
  &:active {
    outline: none;
    border: none;
  }
}

.userInfoBtn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.userInfoBtn:disabled {
  cursor: not-allowed;
}
