.usersListPage {
  padding: 60px 0 0 24px;
}
.usersListPageTop {
  margin-bottom: 24px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.usersListSearchInput {
  width: 100%;
}
