.avatar {
  position: relative;
  display: inline-block;
  flex-shrink: 0;

  &__container {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  &__image {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    object-fit: cover;

    transition: opacity 0.2s ease;
  }

  &--very_small &__container {
    width: 24px;
    height: 24px;
  }

  &--small &__container {
    width: 36px;
    height: 36px;
  }

  &--medium &__container {
    width: 60px;
    height: 60px;
  }

  &--large &__container {
    width: 200px;
    height: 200px;

    @media (width <= 1024px) {
      width: 150px;
      height: 150px;
    }

    @media (width <= 768px) {
      width: 120px;
      height: 120px;
    }

    @media (width <= 480px) {
      width: 90px;
      height: 90px;
    }
  }

  &:hover &__image {
    opacity: 0.9;
  }

  &__status {
    position: absolute;
    z-index: 2;
    right: 10%;
    bottom: 10%;

    width: 10%;
    min-width: 8px;
    height: 10%;
    min-height: 8px;
    border: 2px solid white;
    border-radius: 50%;

    background-color: #42b883;
  }
}
