@use '@/shared/styles/variables' as *;

.container {
  position: relative;
  min-width: 50px;
}

.header {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 52px;
  height: 24px;
  padding: 6px 2px 6px 6px;
  border: 1px solid $dark-300;
  border-radius: 2px;

  color: $light-100;

  background-color: $dark-500;

  transition: border-color 0.2s ease;

  &:hover {
    border-color: $accent-500;
  }
}

.container.open .header {
  border-color: $dark-300;
  box-shadow: 0 0 0 3px rgb(51 51 51 / 25%);
}

.selectedValue {
  // Стили для выбранного значения
}

.arrow {
  transform: translateY(-3px);
  transition: transform 0.2s ease;
}

.container.open .arrow {
  transform: rotate(180deg) translateY(-3px);
}

.dropdown {
  position: absolute;
  z-index: 1000;
  top: 100%;
  right: 0;
  left: 0;

  max-height: 200px;
  border: 1px solid $dark-300;
  border-top: none;
  border-radius: 0 0 2px 2px;

  color: $light-100;

  background-color: $dark-500;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.option {
  cursor: pointer;

  padding: 0 6px;

  line-height: 171%;
  color: $light-100;

  transition: background-color 0.2s ease;

  &:hover {
    color: $light-100;
    background-color: $dark-100;
  }

  &.selected {
    color: $light-100;
  }
}

.iconContainer {
  padding: 6px;
}
