.wrapper {
  width: 100%;
}
.autoUpdateWrapper {
  display: flex;
  justify-content: end;
  margin: 24px 0;
}

.usersListPageTop {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.usersListSearchInput {
  width: 100%;
}

.usersTable {
  margin: 24px 0;
}

.fullNameUser {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.table {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
  flex-direction: row;
}
