@use '@/shared/styles/variables' as *;
.userByPhoto {
  //display: flex;
  //gap: 10px;
  //flex-wrap: wrap;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
