@use '@/shared/styles/variables.scss' as *;

.sidebarItem {
  cursor: pointer;
  display: inline-block;
  min-width: 149px;
  max-width: fit-content;
  margin-bottom: 24px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71429;

  &:nth-child(5) {
    margin-bottom: 60px;
  }

  &:nth-child(7) {
    margin-bottom: 180px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .sidebarItemLink,
  &:hover .icon {
    color: $accent-500;
  }

  &.active .sidebarItemLink,
  &.active .icon {
    color: $accent-100;
  }

  &.disabled {
    cursor: not-allowed;

    & .sidebarItemLink,
    & .icon {
      pointer-events: none;
      color: $dark-100;
    }
  }
}

.sidebarItemLink {
  display: flex;
  gap: 12px;
  align-items: center;

  padding: 0 7px 0 0;
  border: 2px solid transparent;

  color: $light-100;

  background-color: transparent;
  outline: none;

  &:hover {
    background-color: transparent;
    transition: none;
  }

  &:focus {
    border: 2px solid $accent-700;
    border-radius: 2px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  color: $light-100;
}

.active .icon,
.active span {
  color: $accent-500;
}
