@use '@/shared/styles/variables' as *;

.pagination {
  display: flex;
  align-items: center;

  // Стили для MUI Pagination
  :global(.MuiPagination-ul) {
    display: flex;
    align-items: flex-end; // Выравниваем элементы по нижнему краю

    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
  }

  :global(.MuiPaginationItem-root) {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    min-width: 32px !important;
    height: 32px !important;
    border-radius: 2px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif !important;
    font-size: 14px !important;
    color: $light-100 !important;

    background-color: transparent !important;

    &:focus {
      border-color: $accent-700 !important;
      background: none !important;
    }

    &:hover {
      border-color: $dark-500 !important;
      color: $light-100 !important;
      background-color: $dark-500 !important;
    }

    &.Mui-disabled {
      color: $dark-100 !important;
      opacity: 0.5 !important;
    }
  }

  // Отдельный селектор для выбранного элемента с высокой специфичностью
  :global(.MuiPaginationItem-root.Mui-selected) {
    border-color: $light-100 !important;
    font-weight: 600 !important;
    color: $dark-900 !important;
    background-color: $light-100 !important;

    &:hover {
      border-color: $light-100 !important;
      color: $dark-900 !important;
      background-color: $light-100 !important;
    }
  }

  // Специально для многоточия - опускаем вниз
  :global(.MuiPaginationItem-ellipsis) {
    display: flex !important;
    align-items: flex-end !important; // Опускаем текст вниз
    justify-content: center !important;

    min-width: 24px !important;
    height: 32px !important;
    padding-bottom: 4px !important; // Добавляем отступ снизу
    border: none !important;

    font-size: 16px !important;
    line-height: 1 !important;
    color: $light-100 !important;

    background-color: transparent !important;
  }

  // Кнопки стрелок
  :global(.MuiPaginationItem-previousNext) {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 32px !important;
    height: 32px !important;
    border: none !important;

    color: $light-100 !important;

    background-color: transparent !important;

    &:hover {
      color: $light-100 !important;
      background-color: $dark-500 !important;
    }

    &.Mui-disabled {
      color: $dark-100 !important;
      opacity: 0.5;
      background-color: transparent !important;
    }
  }
}

.text1 {
  // Стили для текста "Show"
  margin-right: 5px;
}

.text2 {
  // Стили для текста "строк в таблице"
  margin-left: 20px;
}
