@use '@/shared/styles/variables' as *;

.postSlide {
  width: 100%;
  max-height: 100%;
}

.navigationButton {
  display: flex;
  background-color: rgba(165, 168, 173, 0.7);
  opacity: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 38%;
  z-index: 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.6s;
  & svg {
    width: 24px;
    height: 24px;
  }
}

.navigationButton:disabled {
  display: none;
}

.navigationButtonPrev {
  left: 0;
}

.navigationButtonNext {
  right: 0;
}

.postSlider:hover .navigationButton {
  opacity: 1;
}

.postSlider {
  min-width: 100%;
  max-height: 100%;
}

.postImage {
  width: 100%;
  cursor: pointer;
  max-height: 100% !important;
  transition: all 0.4s ease-out;

  @keyframes show-image {
    from {
      height: 120px !important;
    }
    to {
      height: 100% !important;
    }
  }
}

.trimPostImage {
  height: 120px !important;
  object-fit: cover;
  transition: all 0.4s ease-in;

  @keyframes less-image {
    from {
      height: 100% !important;
    }
    to {
      height: 120px !important;
    }
  }
}
