@use '@/shared/styles/variables.scss' as *;

.contentAgreementModal {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.textAgreementModal {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $light-100;
}

.btnWrapperAgreementModal {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.btnAgreementModal {
  flex-grow: 1;
}
