@use '@/shared/styles/variables' as *;

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 24px;

  background-color: $dark-500;
  border: 2px solid $dark-300;
  border-radius: 4px;
}

.title {
  margin-bottom: 13px;
  text-align: center;
}

.content {
  width: 100%;
}
