@use '@/shared/styles/variables.scss' as *;

.Content {
  will-change: transform, opacity;
  user-select: none;

  max-width: 481px;
  padding: 15px 10px;
  border: 1px solid $neutral-dark-100;
  border-radius: 4px;

  font-size: 16px;
  line-height: 24px;
  color: $neutral-dark-900;

  background-color: $neutral-dark-50;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);

  animation-timing-function: ease-in-out;

  &[data-state='delayed-open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }

  &[data-state='delayed-open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }

  &[data-state='delayed-open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }

  &[data-state='delayed-open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }
}

.Content span:first-child {
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
  font-weight: 500;
}

@keyframes slideUpAndFade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRightAndFade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftAndFade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
