@use '@/shared/styles/variables.scss' as *;

.modalSetting {
  position: absolute;
  right: 20px;
  min-height: 121px;
  min-width: 178px;
  padding: 12px;
  border: 1px solid $dark-100;
  background-color: $dark-500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 2px;
  z-index: 40;
}

.modalSettingBtn {
  display: flex;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: $light-100;
  gap: 12px;
  white-space: nowrap;
  cursor: pointer;
}
